:root {
  --color-primary-500: hsl(71, 73%, 54%);
  --color-primary-600: hsl(179, 62%, 43%);
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(204, 43%, 93%);
  --color-neutral-700: hsl(218, 22%, 67%);

  --font-family-default: "Karla", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

h1 {
  letter-spacing: -0.25px;
}

h2 {
  letter-spacing: -0.225px;
}

ul {
  list-style: none;
}

body {
  background-color: var(--color-neutral-200);
  color: var(--color-neutral-100);
  font-family: var(--font-family-default);
  letter-spacing: -0.175px;
}

.card {
  --padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0px 15px 30px 0px rgba(0, 81, 171, 0.15);
  margin: 5rem auto;
  width: 83vw;
  min-width: 311px;
  max-width: 635px;
  overflow: hidden;
}

section {
  padding: var(--padding);
}

.cta {
  background-color: var(--color-neutral-100);
}
.cta__title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-primary-600);
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.cta__accent {
  color: var(--color-primary-500);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-sm);
  letter-spacing: -0.187px;
  margin-bottom: 1rem;
}

.cta__body {
  font-size: var(--font-size-sm);
  line-height: 1.625rem;
  color: var(--color-neutral-700);
  margin-bottom: 0.5rem;
}

.sub,
.why {
  background-color: var(--color-primary-600);
}

.sub__title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  margin-bottom: 1.125rem;
}

.sub__price {
  display: flex;
  align-items: center;
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.4px;
}

.sub__price span {
  margin-left: 0.6875rem;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  opacity: 0.5;
  letter-spacing: -0.2px;
}

.sub__body {
  font-size: var(--font-size-md);
  letter-spacing: -0.2px;
  line-height: 1.625;
  margin-bottom: 1.625rem;
}

.button {
  display: block;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.2px;
  border: none;
  color: var(--color-neutral-100);
  background-color: var(--color-primary-500);
  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 0.9375rem;
  cursor: pointer;
  transition: all 0.3s;
}

.button:is(:hover, :focus) {
  box-shadow: none;
  opacity: 0.9;
}

.why {
  position: relative;
}

.why::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.1519);
}

.why__title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.225px;
  margin-bottom: 1.125rem;
}

.why__body {
  font-size: var(--font-size-sm);
  line-height: 1.42857;
  opacity: 0.75;
}

@media (min-width: 500px) {
  :root {
    --font-size-xl: 1.5rem;
  }

  .card {
    --padding: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cta {
    grid-column: 1 / 3;
  }

  .cta__title {
    margin-top: 0.1rem;
    line-height: 1;
    letter-spacing: -0.3px;
  }
  .cta__accent {
    font-size: var(--font-size-lg);
    margin-bottom: 0.5rem;
  }
  .cta__body {
    font-size: var(--font-size-md);
  }
  .why__title {
    font-size: var(--font-size-lg);
  }
}
